
.checkout-info{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

/* checkout input summary */
.checkout-summary{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

input{
    border-radius: 0.2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.delivery{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.row-input{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.row-input input{
    flex: 1;
}

.payment{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.checkout-button{
    width: 100%;
    border-radius: 0.5rem;
    background-color: #286376;
    color: #FFFBF2;
}

/* Order Summary Details */
.order-summary{
    flex: 1;
    background-color: #FFEEC8;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 2rem;
    min-height: 100vh;
}

.cost{
    width: 100%;
    margin-top: 2rem;
}

.product-details{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.product-details img{
    width: 30%;
}

.product-info h2{
    font-size: 2.4rem;
}

.price{
    margin-left: auto;
    align-self: flex-end;
}

.order-summary-header {
    display: none; 
}

.order-summary-content {
    display: none;
}


@media (max-width: 390px){
    .checkout{
    display: flex;
    flex-direction: column;
    min-height: auto;          
    }

    .checkout-summary {
        width: 100%;
        padding: 1rem;
    }

    .contact{
        width: 100%;
    }

    .deliver{
        width: 100%;
    }

    .payment {
        width: 100%;             
    }

    .row-input{
        display: flex;
        flex-direction: row;
        min-width: auto;
        gap: 0.2rem;
    }

    .row-input input {
        flex: 1;               
        min-width: 0;          
    }
    .order-summary h2{
        display: none;
    }

    .product-info h2{
        font-size: 1.5rem;
    }

    .order-summary{
        display: none;
    }

    .order-summary-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .order-summary-content {
        display: none;  
     
    }

    .order-summary-content.open {
        display: block;
        padding-right: 0.3rem;
        padding-top: 0.4rem;
    }
}