.purchase{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 5rem;
    padding-top: 4rem;
}

.view-order{
    flex: 1;
    padding: 1rem;
    background-color:#286376;
    color: #FFFBF2;
    font-size: 1rem;
    border: none;
}
.find-more{
    flex: 1;
    padding: 1rem;
    background-color:#FED944;
    color: #000;
    font-size: 1rem;
    border: none;
}

/* TEXT */
h3{
    font-size: 3rem;
    color: #1E424E;
}

h2{
    font-size: 5rem;
}

@media (max-width: 390px){
    .purchase {
    padding: 1rem;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .purchase img {
    width: 100%;       
    height: auto;
    max-width: 100%;
  }

  .buttons {
    width: 100%;     
    gap: 1rem;          
    padding-top: 2rem;
    flex-direction: column; 
  }

  .view-order,
  .find-more {
    width: 100%;        
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  h3{
    font-size: 2rem;
    color: #1E424E;
    }

    h2{
        font-size: 2.5rem;
    }

}
