.beef-product{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.product-details{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.4rem;
}


.title-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.title-price h4{
    font-family: Sinhala Sangam MN;
    font-size: 2rem;
    color: #CB5A04;
}

.detail-reviews{

}

.all-images{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 3rem;
}

.product-images{
    width: 100%;
    height: auto;
    background-color: #FFDB77;
    justify-content: center;
}

.image-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3rem;
}

.product-images img{
    height: auto;
    max-width: 100%;
}

.indiv-image{
    width: 100px;
    height: 100px;
    background-color: #FFDB77;
    justify-content: center;
}

.indiv-image img{
    height: auto;
    max-width: 100%;
}

.weight-quantity{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.weight{
    width: 70px;
    height: 35px;
    background-color: #FFDB77;
    border-radius: 3rem;
    text-decoration: none;
    border: 2px solid transparent;
}

.weight.selected{
    border: 2px solid #000;
}

.quantity-button{
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #FFDB77;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 10px;
}

.qty-decrease{
    border: none;
    background-color: #FFDB77;
}

.qty-increase{
    border: none;
    background-color: #FFDB77;
}

.weight-selection p{
    font-weight: bold;
    font-size: 1rem;
}

.add-to-cart{
    width: 100%;
    height: 55px;
    background-color: #286376;
    border-radius: 1rem;
    box-sizing: border-box;
}

.add-to-cart p{
    color: #FFFBF2;
    font-size: 1.5rem;
}

details {
  padding: 12px 0;
  width: 100%;
}

summary{
    list-style: none;
    font-family: Sinhala Sangam MN;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: 'v';
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.review-layout{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.star-rating img{
    max-width: 100%;
    height: auto;
    width: 4rem;
}

.name-review{
    align-self: flex-start;
    display: flex;
    flex-direction: row;  
    gap: 1rem;  
    padding-left: 10rem;
    width: 100%;
    max-width: 80%;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.reviewer-info img{ 
    max-width: 100%;
    width: 5rem;
}