@font-face {
    font-family:'Signika Negative';
    src: url(../assets/fonts/SignikaNegative-VariableFont_wght.ttf) format('truetype');
}

h2{
    font-family:'Signika Negative' ;
    font-size: 50px;
    color:#1E424E;
}

p{
    font-family: Sinhala Sangam MN;
}