*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Signika Negative';
    src: url(../assets/fonts/SignikaNegative-VariableFont_wght.ttf) format('truetype');
}

h2{
    font-family:'Signika Negative' ;
    font-size: 50px;
    color:#1E424E;
}

h3{
    font-family: Sinhala Sangam MN;
    font-size: 1.5rem;
}

h3 a{
    text-decoration: none;
    color: black;
}

p{
    font-family: Sinhala Sangam MN;
    font-size: 1.2rem;
}

body{
    background-color: #FFFBF2;
}

/*CSS Navigation*/

.navigation-bar{
    background-color: #FED944;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    max-width: 100%;
}


.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 3px;
}

.text{
    text-align: center;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.nav-bar-image{
    position: relative; /*retains size*/
    max-width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    gap: 20px;
}

.nav-bar-image img{
    width: 35px;
    height:35px;
}

.link-properties{
    font-family: Sinhala Sangam MN;
    text-decoration: none; /*removes underline*/
    color: #1E424E;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}



@media (max-width: 700px){
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .text{
        display: none;
    }
}

