*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Signika Negative;
    src: url(assets/fonts/SignikaNegative-VariableFont_wght.ttf);
}

.navigation-bar{
    background-color: #FED944;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    max-width: 100%;
}

.text{
    text-align: center;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.nav-bar-image{
    position: relative; /*retains size*/
    max-width: 100%;
    height: auto;
    max-width: 100%;
}

.link-properties{
    font-family: Sinhala Sangam MN;
    text-decoration: none; /*removes underline*/
    color: #1E424E;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero{
    height: 400px;
    width: 100%;
    background-color: #FFDB77;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.hero-text{
    padding-left: 40px;
}

.hero-text h1{
    font-size: 85px;
    font-family: skia;
    flex-wrap: wrap;
    color:#1E424E;
}

.hero-text p{
    font-size: 25px;
    font-family: Sinhala Sangam MN;
    color:#1E424E;
} 

.button{
    height: 80px;
    width: 300px;
    background-color: #E19E11;
    border-radius: 40px;
    text-align: center;
    border: none;
}

.button p{
    margin:0;
    font-family: Sinhala Sangam MN;
    color:#1E424E;
    font-weight: bold;
    font-size: 40px;
}

.hero-images img{
    position: relative;
    width: 200px;
    height: auto;
    object-fit: contain;
    margin: 0;

}

.hero-images{
    display: flex;
}

.awards{
    height: 500px;
    width: 100%;
    background-color: #FFFBF2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.awards h2{
    font-size: 50px;
    color:#1E424E;
}

.awards p{
    font-size: 20px;
    font-family:Sinhala Sangam MN;
    text-align: center;
    color:#1E424E;
}

.image_awards{
   max-width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   gap: 40px;
}

.image_awards img{
    width: 200px;
}
.global_winner{
    text-align: center;
}
.business_awards{
    text-align: centers;
}

.finalist{
    text-align: center;
}

.recommended_products{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 600px;
    width: 100%;
    background-color: #FFDB77;
}

.first_product{
    display: flex;
}

.products img{
    width: 300px;
    max-width: 100%;
}

.recommended_products h2{
    font-family: Signika Negative;
    font-size: 50px;
    color:#1E424E;
}

.recommended_products p{
    font-family: Sinhala Sangam MN;
    text-decoration: none;
    color: #1E424E;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}